<h1>This is Home.hbs - A private route</h1>

<a href="/logout">Logout</a>

<div>
    <h2>
        Create new Income
    </h2>
    <form id="income-form">
        <input id="newIncDescription" type="string" name="Description" placeholder="Description">
        <input id="newIncValue" type="number" name="Value" placeholder="Value">
        <input id="newIncDate" type="date" name="Date" placeholder="Date">
        <br>
        <label for="category">Category</label>
        <select name="category" id="newIncCategory">
            <option value="{{category}}">{{category}}</option>
            <option value="Salary">Salary</option>
            <option value="Freelancer">Freelancer</option>
            <option value="Carry Over">Carry Over</option>
        </select>

        <button id="new-income-btn">Add Income</button>
    </form>
</div>

<div>
    <h2>
        Create new Expense
    </h2>
    <form id="expense-form">
        <input id="newExpDescription" type="string" name="Description" placeholder="Description">
        <input id="newExpValue" type="number" name="Value" placeholder="Value">
        <input id="newExpDate" type="date" name="Date" placeholder="Date">
        <br>
        <label for="category">Category</label>
        <select name="category" id="newExpCategory">
            <option value="{{category}}">{{category}}</option>
            <option value="Food">Food</option>
            <option value="Supermarket">Supermarket</option>
            <option value="Transportation">Transportation</option>
            <option value="Entertainment">Entertainment</option>
        </select>
        <button id="new-expense-btn">Add Expense</button>
    </form>
</div>

<div>
    <h2>Recent Incomes</h2>
    <ul id="recent-incomes">
        {{#each recentIncomes}}
            <li>
                Description: {{description}} --- Value: {{value}} --- Date: {{date}} --- Category: {{category}}
            </li>        
        {{/each}}
    </ul>
</div>

<div>
    <h2>Recent Expenses</h2>
    <ul id="recent-expenses">
        {{#each recentExpenses}}
            <li>
                Description: {{description}} --- Value: {{value}} --- Date: {{date}} --- Category: {{category}}
            </li>        
        {{/each}}
    </ul>
</div>

<script src="/javascript/index.js"></script>