<div class="">
    <div class="row">

 {{!----------------------------------------------- INCOMES -----------------------------------------------}}
        <div class="col-4">
            <div class="incomes-form ">
                <h2 class="m-0">
                    Create new Income
                </h2>
                <form action="/api/incomes/create" method="POST" id="income-form">
                    <div class="group">
                        <input id="newIncDescription" type="string" name="description" placeholder="placeholder" required>
                        <label class="label-upside">Description</label>
                        <span class="line"></span>
                    </div>

                    <div class="group">
                        <input id="newIncValue" step="0.01" type="number" name="value" placeholder="placeholder">
                        <label class="label-upside">Value</label>
                        <span class="line"></span>
                    </div>

                    <div class="group">
                        <input id="newIncDate" type="date" name="date" placeholder="placeholder">
                        <label class="label-upside">Date</label>
                        <span class="line"></span>
                    </div>

                    <div class="group mb-1">
                        <label class="label-upside" for="category">Category</label>
                        <select name="category" id="newIncCategory">
                            <option value="{{category}}">{{category}}</option>
                            <option value="Salary">Salary</option>
                            <option value="Freelancer">Freelancer</option>
                            <option value="Carry Over">Carry Over</option>
                        </select>
                        </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" id="new-income-btn">Add Income</button>
                    </div>
                    
                </form>
            </div>
            <div>
                <h2 class="mb-1">Recent Incomes</h2>
                <div class="div-center">
                    <table id="recent-incomes-table">
                        <thead class="container">
                            <div class="row m-0">
                                <tr class="col-12">
                                    <th>Category</th>
                                    <th>Date</th>
                                    <th>Value</th>
                                </tr>
                            </div>
                        </thead>
                        <tbody id="recent-incomes-table-body">
                            {{#each recentIncomes}}
                                <tr>
                                    <td>{{category}}</td>
                                    <td>{{formattedDate}}</td>
                                    <td>${{formattedValue}}</td>            
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

 {{!----------------------------------------------- BALANCE -----------------------------------------------}}
        <div class="balance-container col-4 p-0">
            <div id="total-balance">
                <h2 class="m-0">
                    Total Income: <br>
                    <span class="second-color">${{totalIncome}}</span><br><br>

                    Total Expense: <br>
                    <span class="second-color">${{totalExpense}}</span><br><br>

                    <div>
                        <span>Balance:</span><br>
                        <span class="second-color">${{balance}}</span><br><br>

                    </div>

                                                            
                </h2>
            </div>
        </div>

 {{!----------------------------------------------- EXPENSE -----------------------------------------------}}
        <div class="expenses-container col-4 p-0">
            <div class="expenses-form">
                <h2 class="m-0">
                    Create new Expense
                </h2>
                <form action="/api/expenses/create" method="POST" id="expense-form">
                    <div class="group">
                        <input id="newExpDescription" type="string" name="description" placeholder="Description">
                        <label class="label-upside">Description</label>
                        <span class="line"></span>
                    </div>

                    <div class="group">
                        <input id="newExpValue" type="number"  step="0.01" name="value" placeholder="Value">
                        <label class="label-upside">Value</label>
                        <span class="line"></span>
                    </div>

                    <div class="group">
                        <input id="newExpDate" type="date" name="date" placeholder="Date">
                        <label class="label-upside second-color">Date</label>
                        <span class="line"></span>
                    </div>

                    <div class="group mb-1">
                        <label class="label-upside" for="category">Category</label>
                        <select name="category" id="newIncCategory">
                            <option value="{{category}}">{{category}}</option>
                            <option value="Food">Food</option>
                            <option value="Supermarket">Supermarket</option>
                            <option value="Transportation">Transportation</option>
                            <option value="Entertainment">Entertainment</option>
                        </select>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" id="new-expense-btn">Add Expense</button>
                    </div>
                </form>
            </div>
            <div>
                <h2 class="mb-1">Recent Expenses</h2>
                <div class="div-center">
                    <table id="recent-expenses-table">
                        <thead class="container">
                            <div class="row m-0">
                            <tr class="col-12">
                                <div class="">
                                <th>Category</th>
                                <th>Date</th>
                                <th>Value</th>
                                </div>
                            </tr>
                            </div>
                        </thead>
                        <tbody id="recent-expenses-table-body">
                            {{#each recentExpenses}}
                                <tr>
                                    <td class="txt-center">{{category}}</td>
                                    <td>{{formattedDate}}</td>
                                    <td>${{formattedValue}}</td>            
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/javascript/index.js"></script>